<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- database connection string -->
    <add name="dentnedEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- send appointments reminder - enabler -->
    <add key="sendAppointmentsReminderEnabled" value="false" />
    <!-- send appointments reminder - crontab -->
    <add key="sendAppointmentsReminderCronTab" value="0 16 * * *" />
    <!-- send appointments reminder - send for appointments happening in days -->
    <add key="sendAppointmentsDays" value="2" />    
    <!-- purge appointments - enabler -->
    <add key="purgeAppointmentsEnabled" value="false" />
    <!-- purge appointments - crontab -->
    <add key="purgeAppointmentsCronTab" value="0 2 * * *" />
    <!-- purge appointments - purge all older than days -->
    <add key="purgeAppointmentsDays" value="-365" />
    <!-- clean tmpdir - enabler -->
    <add key="cleanTmpdirEnabled" value="false" />
    <!-- clean tmpdir - crontab -->
    <add key="cleanTmpdirCronTab" value="0 2 * * *" />
    <!-- clean data dir - enabler -->
    <add key="cleanDataDirEnabled" value="false" />
    <!-- clean data dir - crontab -->
    <add key="cleanDataDirCronTab" value="0 2 * * *" />
  </appSettings>
</configuration>