<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="dentnedEntities" connectionString="metadata=res://*/Entity.Model_dentned.csdl|res://*/Entity.Model_dentned.ssdl|res://*/Entity.Model_dentned.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.56;initial catalog=dentned;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- patient content folder -->
    <add key="patientsDatadir" value="..\..\..\..\DentneDTemp\Datadir" />
    <!-- patient attachements folder -->
    <add key="patientsAttachmentsdir" value="..\..\..\..\DentneDTemp\Attachmentsdir" />
    <!-- do secure delete -->
    <add key="doSecureDelete" value="true" />
    <!-- calendar highlight start end end hours -->
    <add key="calendarDayHourBegin" value="7" />
    <add key="calendarDayHourEnd" value="19" />
    <!-- calendar first day of the week -->
    <add key="calendarFirstDayOfTheWeek" value="Monday" />
    <!-- calendar include Saturaday  -->
    <add key="calendarWeekIncludeSaturday" value="true" />
    <!-- calendar include Sunday  -->
    <add key="calendarWeekIncludeSunday" value="false" />
    <!-- documents, default payment type  -->
    <add key="defaultPaymentType" value="1" />
    <!-- documents, default tax -->
    <add key="defaultTaxRate" value="1" />
    <!-- documents, default deduction tax -->
    <add key="defaultTaxRate" value="1" />
  </appSettings>
</configuration>