<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- database connection string -->
    <add name="dentnedEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- language -->
    <add key="language" value="en" />
    <!-- patient content folder -->
    <add key="patientsDatadir" value="..\..\..\DataTemp\Datas" />
    <!-- patient attachements folder -->
    <add key="patientsAttachmentsdir" value="..\..\..\DataTemp\Attachments" />
    <!-- invoices folder -->
    <add key="invoicesdir" value="..\..\..\DataTemp\Invoices" />
    <!-- temporary folder -->
    <add key="tmpdir" value="..\..\..\DataTemp\Temp" />
    <!-- do secure delete (needs the srm.exe executable) -->
    <add key="doSecureDelete" value="false" />
    <!-- purge the temporary folder at startup, disable this if it's enabled by service -->
    <add key="cleanTmpdirAtStartup" value="false" />
    <!-- backup script -->
    <add key="backupscript" value="backup\db-backup.bat" />
    <!-- password protected forms and actions -->
    <add key="passwordProtectedForms" value="" />
    <!-- password protected forms check code -->
    <add key="passwordProtectedFormsCheck" value="E6LMm2BaLe60XJjh2SAG3w==" />
    <!-- password for protected forms -->
    <add key="passwordProtectedFormsPassword" value="Y+jKvnVBnIyTD+Y8YVWD2Q==" />
    <!-- password for protected reports -->
    <add key="passwordProtectedReports" value="Y+jKvnVBnIyTD+Y8YVWD2Q==" />
    <!-- set the patient payment reference: 'N' for nothing, 'T' if you plain to refer payment to treatments, 'I' for invoices -->
    <add key="paymentReference" value="T" />
    <!-- reset the patient treatments filter on patient change -->
    <add key="resetPatientstreatmentsFilterOnChange" value="false" />
    <!-- reset the patient treatments filter on patients treatment save -->
    <add key="resetPatientstreatmentsFilterOnSave" value="false" />
    <!-- set the patient default filter: 'A' for all, 'N' for not archived, 'C' for archived -->
    <add key="patientsDefaultFilter" value="N" />
    <!-- select the action on open attachment button click, open file folder 'F', open with default application 'A' -->
    <add key="patientsAttachmentsOpenMode" value="A" />
    <!-- when saving a new attachment, open that on edit mode to add a file -->
    <add key="patientsAttachmentsSaveandedit" value="true" />
    <!-- calendar highlight start end end hours -->
    <add key="calendarDayHourBegin" value="8" />
    <add key="calendarDayHourEnd" value="19" />
    <!-- calendar first day of the week -->
    <add key="calendarFirstDayOfTheWeek" value="Monday" />
    <!-- calendar include Saturaday  -->
    <add key="calendarWeekIncludeSaturday" value="true" />
    <!-- calendar include Sunday  -->
    <add key="calendarWeekIncludeSunday" value="false" />
    <!-- calendar treatments advices color -->
    <add key="calendarTreatmentAdvicesColor" value="#ff9966" />
    <!-- show treatments advices checkbox default value on appointments form  -->
    <add key="appointmentsShowTreatmentsAdvicesChecked" value="true" />
    <!-- print models implementation list dll (implements IDentneDPrintModel) -->
    <add key="printModels" value="DentneDPrintModelDefault.dll,DentneDPrintModel01.dll" />
    <!-- set the startup size, format: 'WxH' (W is width, H is height), add 'M' as the last character to maximize the window -->
    <add key="sizeOnStartup" value="1024x768" />
    <!-- show invoice and estimates total on bottom -->
    <add key="showInvoicesEstimatesTotal" value="true" />
    <!-- set the is paid default status for any new invoice -->
    <add key="invoicesIsPaidDefault" value="true" />
    <!-- autoincrement suggested on invoice and estimates number -->
    <add key="autoincrementInvoicesEstimatesNumber" value="true" />
    <!-- add tooths to invoice description on patient treatments selection -->
    <add key="addToothsToDocumentDescription" value="true" />
    <!-- smtp hostname -->
    <add key="mailerSMTPhost" value="smtp.mail.com" />
    <!-- smtp port -->
    <add key="mailerSMTPport" value="25" />
    <!-- smtp from -->
    <add key="mailerSMTPfrom" value="sender" />
    <!-- smtp username -->
    <add key="mailerSMTPusername" value="sender@mail.com" />
    <!-- smtp password -->
    <add key="mailerSMTPpassword" value="password" />
    <!-- smtp ssl enabelr -->
    <add key="mailerSMTPenablessl" value="false" />
  </appSettings>
</configuration>
