<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.1.24512.7" targetFramework="net452" />
  <package id="DG.DataModel" version="1.2.24517.8" targetFramework="net462" />
  <package id="DG.EnhancedBoxHelpers" version="1.0.22517.17" targetFramework="net452" />
  <package id="DG.UIGHF" version="1.2.24516.12" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
</packages>