<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.2.25902.3" targetFramework="net462" />
  <package id="DG.DataModel" version="1.2.26020.10" targetFramework="net462" />
  <package id="DG.EnhancedBoxHelpers" version="1.0.25907.18" targetFramework="net462" />
  <package id="DG.UIGHF" version="1.2.26020.15" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
</packages>