<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.1.23420.4" targetFramework="net452" />
  <package id="DG.EnhancedBoxHelpers" version="1.0.22517.17" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
</packages>